
.sharky-cuadros1:before { content: '\e800'; } /* '' */
.sharky-back:before { content: '\e801'; } /* '' */
.sharky-cuadros2:before { content: '\e802'; } /* '' */
.sharky-iphone:before { content: '\e803'; } /* '' */
.sharky-mondrian:before { content: '\e804'; } /* '' */