@font-face {
  font-family: 'sharky';
  src: url('../font/sharky.eot?33733218');
  src: url('../font/sharky.eot?33733218#iefix') format('embedded-opentype'),
       url('../font/sharky.woff2?33733218') format('woff2'),
       url('../font/sharky.woff?33733218') format('woff'),
       url('../font/sharky.ttf?33733218') format('truetype'),
       url('../font/sharky.svg?33733218#sharky') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'sharky';
    src: url('../font/sharky.svg?33733218#sharky') format('svg');
  }
}
*/
 
 [class^="sharky-"]:before, [class*=" sharky-"]:before {
  font-family: "sharky";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.sharky-cuadros1:before { content: '\e800'; } /* '' */
.sharky-back:before { content: '\e801'; } /* '' */
.sharky-cuadros2:before { content: '\e802'; } /* '' */
.sharky-iphone:before { content: '\e803'; } /* '' */
.sharky-mondrian:before { content: '\e804'; } /* '' */